.boost {
  background-color: $darkViolet;
  background-image: url('../images/bg-boost-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;

  @include breakpoint-up(medium) {
    background-image: url('../images/bg-boost-desktop.svg');
  }

  &__text {
    color: white;
    letter-spacing: -0.05rem;
  }
}
